{% extends "base.html" %}
{% block menu %}
        <v-navigation-drawer app clipped>
            <v-list>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>account_circle</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>{{ session['user']['_user_name'] }}</v-list-tile-title>
                </v-list-tile>

                <v-list-group prepend-icon="settings_ethernet" value="true">
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Администрирование</v-list-tile-title>
                        </v-list-tile>
                    </template>

                    <v-list-group no-action sub-group value="true">
                        <template v-slot:activator>
                            <v-list-tile>
                                <v-list-tile-title>Заказы</v-list-tile-title>
                            </v-list-tile>
                        </template>

                        <v-list-tile @click="onOrderManagement()">
                            <v-list-tile-title >Управление заказами</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>shopping_cart</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>

                    </v-list-group>
                    <v-list-group no-action sub-group value="true">
                        <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>Пользователи</v-list-tile-title>
                        </v-list-tile>
                        </template>

                        <v-list-tile>
                            <v-list-tile-title>Управление ролями</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>perm_identity</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list-group>

                    <v-list-group sub-group no-action value="true">
                        <template v-slot:activator>
                            <v-list-tile>
                                <v-list-tile-title>Товары</v-list-tile-title>
                            </v-list-tile>
                        </template>

                        <v-list-tile>
                            <v-list-tile-title>Изменение параметров товаров</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>edit</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>

                        <v-list-tile>
                            <v-list-tile-title>Добавление товара</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>plus_one</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>

                        <v-list-tile @click="onCategoryManagement()">
                            <v-list-tile-title>Категории товаров</v-list-tile-title>
                            <v-list-tile-action>
                                <v-icon>edit</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list-group>

                </v-list-group>
            </v-list>
        </v-navigation-drawer>
{% endblock %}
{% block content %}

<div id="content_admin"></div>

{% endblock %}
{% block data%}
,methods: {
    onOrderManagement: function(){
      $('#content_admin').load('order_management')
    },
    onCategoryManagement: function(){
    $('#content_admin').load('category_management')
}
  }
{% endblock%}
