<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Интернет магазин</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='ServiceHelper.js') }}"></script>

</head>
<body>
	<div id="app">
		<v-app>
			
			{% block menu %}{% endblock %}
			
			<v-toolbar dark color="primary" app scroll-off-screen clipped-left>

				<v-flex flat xs12 sm6 md3>
					<v-text-field label="Поиск" single-line color="white"></v-text-field>
				</v-flex>
				<v-btn flat icon color="white" href="/">
					<v-icon>search</v-icon>
				</v-btn>

				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn flat href="/">Главная</v-btn>
					<v-btn flat href="/shop">Товары</v-btn>
					<v-btn flat href="/contacts">Контакты</v-btn>
	        		<v-btn flat icon color="white" href="/basket">
	        			<v-badge color="green" overlap>
		          			<template v-slot:badge>
		          				{% if count_shop %}
		        					<span>{{count_shop}}</span>
		        				{% endif %}
		      				</template>
		          			<v-icon>shopping_cart</v-icon>
	          			</v-badge>
	        		</v-btn>
	        		{% if 'user' in session.keys() %}
	        			{% if session['user']['_access_lavel'] == 0 %}
	        				<v-btn flat href="/admin">Администрирование</v-btn>
	        			{% endif %}
	        		{% endif %}
	        		{% if 'user' in session.keys()%}
	        		<v-btn flat icon href="/logout">
	        			<v-icon>exit_to_app</v-icon>
	        		</v-btn>
	        		{% else %}
	        		<v-btn flat icon href="/authorize/google">
	        			<v-icon>fab fa-google</v-icon>
	        		</v-btn>
	        		{% endif %}
	        	</v-toolbar-items>				
			</v-toolbar>
			<v-content>
				{% block content %}{% endblock %}
			</v-content>
			<div id="token"></div>
		</v-app>

	</div>

	
	<script>
		new Vue({ el: '#app' {% block data %}{% endblock %} 
			  });
		setInterval(function() { $('#token').load('get_token') }, 1000);
	</script>

</body>
</html>