{% extends "base.html" %}
{% block content %}
<!-- Страница книги -->

    <v-dialog v-model="dlg" scrollable max-width="1000px">
    <template v-slot:activator="{on}">
        <v-btn color="primary" dark v-on="on">Open</v-btn>
    </template>
    <v-container grid-list-md text-xs-center>
        <v-card>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex :key="`6${2}`" xs6>

                        <v-img
                              style="width:200px;"
                              src="{{ book.link_icon }}"
                            ></v-img>

                  </v-flex>
                    <v-flex :key="`6${1}`" xs6>
                        <div>
                            <span class="headline">
                                <h2 align="left">{{ book.name }}</h2>
                            </span>
                            <div class="d-flex">
                                {{ book.author }}<br>
                                Категория: {{ book.category  }}
                            </div>

                        </div>
                        <v-card dark color="light-blue" width="200px">
                            <v-flex xs12 align-content-left>
                                <h1>Доступно: {{ book.quantity }}</h1>
                            </v-flex>

                            <v-flex xs6 align-content-center>
                                <h1>{{ book.price }}₽</h1>
                            </v-flex>
                            <v-btn dark-color="primary">В корзину</v-btn>
                        </v-card>
                  </v-flex>
                  <v-flex xs12>
                        <p align="left">
                        lorem ipsum dolor sit amet..<br>
                        {{ book.description }}<br>
                            Год издания: {{ book.year }}
                    </p>
                  </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
    </v-dialog>


{% endblock content %}