{% extends "base.html" %}
{% block content %}
<!-- Страница книги -->

    <v-dialog v-model="dlg" scrollable max-width="800px">
    <template v-slot:activator="{on}">
        <v-btn color="primary" dark v-on="on">Open</v-btn>
    </template>

        <v-card style="padding: 5px">
            <v-card-text>
                <v-layout row wrap>
                    <v-flex :key="bookimg" xs4>
                        <v-carousel hide-controls cycle  height="200">
                            <v-carousel-item
                              src="{{ book.link_icon }}"></v-carousel-item>
                        </v-carousel>

                  </v-flex>
                    <v-flex :key="bookinformation" xs4 style="padding: 5px">

                            <span class="headline">
                                <div class="title" align="left">{{ book.name }}</div>
                            </span>
                            <v-divider></v-divider>
                            <div class="d-flex" style="margin-top: 5px">
                                Автор: {{ book.author }}<br>
                                Категория: {{ book.category  }}<br>
                                Год издания: {{ book.year }}<br>
                                Язык: русский
                            </div>
                    </v-flex>
                    <v-flex :key="cart" xs4>
                        <v-card flat dark color="light-blue" width="200px" style="padding: 10px; margin-top: 25px">
                            <v-flex xs12 align-content-left>
                                <div class="subheading">Доступно: {{ book.quantity }}</div>
                            </v-flex>

                            <v-flex xs6 align-content-left>
                                <div class="body-2">Стоимость: {{ book.price }}₽</div>
                            </v-flex>

                            <v-btn outline block>В корзину</v-btn>
                        </v-card>
                    </v-flex>

                </v-layout>
            </v-card-text>



             <v-btn flat disabled color="blue-grey darken-4" >Описание</v-btn>

            <v-slide-y-transition>
                <v-card-text :key="descr" v-show="true">
                     <div class="body-1" align="left">
                     lorem ipsum dolor sit amet..<br>
                     {{ book.description }}
                     </div>
                </v-card-text>
            </v-slide-y-transition>


        </v-card>
    </v-dialog>


{% endblock content %}