{% extends "base.html" %}
{% block content %}


        <v-card flat dark flex>
            <div class="display-4 font-weight-black" align="center">404</div>
            <v-divider></v-divider>
            <v-container fill-height>
                <v-layout row-wrap style="padding: 10px">
                    <v-flex :key="what" xs8 style="padding-left: 40px" align-center>
                        <div class="headline">Пусть наши утраты будут для нас испытанием, но не пыткой.</div>
                        <div class="body">(Эльчин Сафарли)</div>
                    </v-flex>
                    <v-flex :key="who" xs4>
                        <v-img height="auto" style="border-radius: 50%"
                           src="https://mybook.ru/c/206x208/author_photos/04/6c/046cd615-390d-403f-b109-d3c848be95a9.jpg"
                        ></v-img>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>


{% endblock content %}