{% extends "base.html" %}
{% block content %}

<v-timeline>
	<v-timeline-item color="purple lighten-2" fill-dot right>
		<v-card>
			<v-card-title class="purple lighten-2">
				<v-icon dark size="42" class="mr-3">done</v-icon>
				<h2 class="display-1 white--text font-weight-light">Шаг 1</h2>
			</v-card-title>
			<v-container>
				<h3>Выберите товар!</h3>
			</v-container>
		</v-card>
	</v-timeline-item>

	<v-timeline-item color="amber lighten-1" fill-dot left>
		<v-card>
			<v-card-title class="amber lighten-1">
				<v-icon dark size="42" class="mr-3">add_shopping_cart</v-icon>
				<h2 class="display-1 white--text font-weight-light">Шаг 2</h2>
			</v-card-title>
			<v-container>
				<h3>Перейдите в корзину</h3>
			</v-container>
		</v-card>
	</v-timeline-item>

	<v-timeline-item color="cyan lighten-1" fill-dot right>
		<v-card>
			<v-card-title class="cyan lighten-1">
				<v-icon dark size="42" class="mr-3">payment</v-icon>
				<h2 class="display-1 white--text font-weight-light">Шаг 3</h2>
			</v-card-title>
			<v-container>
				<h3>Оплатите</h3>
			</v-container>
		</v-card>
	</v-timeline-item>

</v-timeline>
<v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg" height="200">
	<v-layout align-center column justify-center>
		<v-btn large color="primary">
			Начать покупки!
		</v-btn>
	</v-layout>
</v-parallax>

{% endblock %}