<div id="management_of_goods">
	<template>
		<v-toolbar flat color="white">
			<v-toolbar-title>Управление товарами</v-toolbar-title>

			<v-spacer></v-spacer>
			<v-dialog v-model="dialog" max-width="500px">
				<template v-slot:activator="{ on }">
					<v-btn color="primary" dark class="mb-2" v-on="on">Новый товар</v-btn>
				</template>
				<v-card>
					<v-card-title>
						<span class="headline">[[ formTitle ]]</span>
					</v-card-title>
					<v-card-text>
						<v-container grid-list-md>
							<v-layout wrap>
								<v-flex xs12 sm12 md12>
									<v-text-field v-model="editedItem._full_name" label="Наименование товара"></v-text-field>
								</v-flex>
								<v-flex xs12 sm12 md12>
									<v-text-field v-model="editedItem._full_name" label="Короткое наименование товара"></v-text-field>
								</v-flex>
                <v-flex xs12 sm12 md12>
                  <v-textarea v-model="editedItem._descr" label="Описание"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem._price" label="Цена" type="number" suffix="₽"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-checkbox v-model="editedItem._available" label="Доступность"></v-checkbox>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem._count" label="Количество" type="number" suffix="ШТ"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem._year" label="Год" type="number"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-select v-model="editedItem._language._name" :items="language" label="Язык"></v-select>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-select v-model="editedItem._manufacture._name" :items="manufacture" label="Производитель"></v-select>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-select v-model="editedItem._category._name" :items="category" label="Категория"></v-select>
                </v-flex>

							</v-layout>
						</v-container>
					</v-card-text>

					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="blue darken-1" flat @click="close">Отмена</v-btn>
						<v-btn color="blue darken-1" flat @click="save">Сохранить</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-toolbar>

		<v-container>

			<v-data-table :headers="headers"
			:items="goods"
			class="elevation-1"
			:rows-per-page-items='[20, 20, {text: " ", value: -1}]'>

			<template v-slot:items="props">
				<td>[[props.item._id]]</td>
				<td>[[props.item._full_name]]</td>
				<td>[[props.item._price]]</td>
				<td>[[props.item._available]]</td>
				<td>[[props.item._count]]</td>
				<td class="justify-center layout px-0">
					<v-icon
					small
					@click="editItem(props.item)">
					edit
				</v-icon>
				<v-icon
				small
				@click="deleteItem(props.item)">
				delete
			</v-icon>
		</td>
	</template>


</v-data-table>

</v-container>

</template>
</div>

<script>

var goods = {{goods|safe}};
var el = new Vue({
  el: '#management_of_goods',
  delimiters: ['[[',']]'],
  data () {
      return {
            language : {{language|safe}},
            manufacture : {{manufacture|safe}},
            category : {{category|safe}},
            headers: [
                {
                  text: 'ID',
                  align: 'left',
                  sortable: false,
                  value: 'goods_id'
                },
                {
                  text: 'Название',
                  align: 'left',
                  sortable: false,
                  value: 'goods_name'
                },
                {
                  text: 'Цена',
                  align: 'left',
                  sortable: false,
                  value: 'goods_price'
                },
                {
                  text: 'Доступность',
                  align: 'left',
                  sortable: false,
                  value: 'goods_available'
                },
                {
                  text: 'Количество',
                  align: 'left',
                  sortable: false,
                  value: 'goods_count'
                },
                {
                     sortable: false
                }
            ],

           goods,
           editedIndex: -1,

           editedItem: {
              _id           : 0,
              _full_name    : '',
              _short_name   : '',
              _descr        : '',
              _price        : 0.0,
              _available    : 1,
              _count        : 0,
              _year         : '',
              _language     : {'_id': 0, '_name': '', '_short_name': ''},
              _manufacture  : {'_id': 0, '_name': '', '_short_name': ''},
              _category     : {'_id': 0, '_name': '', '_short_name': ''},
              _images       : []
            },
           defaultItem: {
              _id           : 0,
              _full_name    : '',
              _short_name   : '',
              _descr        : '',
              _price        : 0.0,
              _available    : 1,
              _count        : 0,
              _year         : '',
              _language     : {'_id': 0, '_name': '', '_short_name': ''},
              _manufacture  : {'_id': 0, '_name': '', '_short_name': ''},
              _category     : {'_id': 0, '_name': '', '_short_name': ''},
              _images       : []
            }
      }
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Новый товар' : 'Редактирование товара'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  methods:
  {
    editItem (item)
    {
      this.editedIndex = this.goods.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item)
    {
      const index = this.categories[this.categories.indexOf(item)].category_id;
      var url = '/admin/api/categories/delete';

      data = {'category_id': index};
      confirm('Вы уверены что хотите удалить этот элемент?') && this.categories.splice(this.categories.indexOf(item), 1);

      sendJsonAndGetTextFromService(url, data , 'POST');
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        var url = '/admin/api/categories/update';
        data = [{'category_id': this.editedItem.category_id}, {'name': this.editedItem.name}, {'short_name': this.editedItem.short_name}];

        var res = sendJsonAndGetTextFromService(url, data , 'POST');

        Object.assign(this.categories[this.editedIndex], this.editedItem)
      }

      else {
        var url = '/admin/api/categories/create';
        data = [{'name': this.editedItem.name}, {'short_name': this.editedItem.short_name}];

        var res = sendJsonAndGetTextFromService(url, data , 'POST');
        var category_id = JSON.parse(res);

        this.editedItem.category_id = category_id['category_id'];
        this.categories.push(this.editedItem);
      }

      this.close()
    }
  }
 })

</script>

